<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIDName</key>
	<string>uXOtAp</string>
	<key>ApplicationIdentifierPrefix</key>
	<array>
		<string>N3WP93Z7CM</string>
	</array>
	<key>CreationDate</key>
	<date>2025-11-15T03:25:20Z</date>
	<key>DER-Encoded-Profile</key>
	<data>
	MIINNQYJKoZIhvcNAQcCoIINJjCCDSICAQExDTALBglghkgBZQMEAgEwggL0BgkqhkiG
	9w0BBwGgggLlBIIC4TGCAt0wDAwHVmVyc2lvbgIBATAODAROYW1lDAZrTTVVNjQwEAwK
	VGltZVRvTGl2ZQICAW0wEwwJQXBwSUROYW1lDAZ1WE90QXAwEwwOSXNYY29kZU1hbmFn
	ZWQBAQAwGQwUUHJvdmlzaW9uc0FsbERldmljZXMBAf8wHQwMQ3JlYXRpb25EYXRlFw0y
	NTExMTUwMzI1MjBaMB4MDlRlYW1JZGVudGlmaWVyMAwMCk4zV1A5M1o3Q00wHwwORXhw
	aXJhdGlvbkRhdGUXDTI2MTExNTAzMjUyMFowIQwIUGxhdGZvcm0wFQwDaU9TDAR4ck9T
	DAh2aXNpb25PUzAjDBdQcm9maWxlRGlzdHJpYnV0aW9uVHlwZQwISU5fSE9VU0UwKwwb
	QXBwbGljYXRpb25JZGVudGlmaWVyUHJlZml4MAwMCk4zV1A5M1o3Q00wLAwEVVVJRAwk
	MmE5NGQ3NmItZmRmMy00NDI2LWFiZjgtY2E4YmJiOWJhMzMxMDIMCFRlYW1OYW1lDCZR
	aW5nZGFvIFJ1cmFsIENvbW1lcmNpYWwgQmFuayBDby4sIEx0ZDA7DBVEZXZlbG9wZXJD
	ZXJ0aWZpY2F0ZXMwIgQgu/Lq0CfrESrDygfzjhtd57hi3PKNWRTEVlaTnbATc0UwgfEM
	DEVudGl0bGVtZW50c3CB4AIBAbCB2jA2DBZhcHBsaWNhdGlvbi1pZGVudGlmaWVyDBxO
	M1dQOTNaN0NNLmNvbS5TRm4yN2EuNU5EdkN2MB0MD2Fwcy1lbnZpcm9ubWVudAwKcHJv
	ZHVjdGlvbjAxDCNjb20uYXBwbGUuZGV2ZWxvcGVyLnRlYW0taWRlbnRpZmllcgwKTjNX
	UDkzWjdDTTATDA5nZXQtdGFzay1hbGxvdwEBADA5DBZrZXljaGFpbi1hY2Nlc3MtZ3Jv
	dXBzMB8MDE4zV1A5M1o3Q00uKgwPY29tLmFwcGxlLnRva2VuoIIIPDCCAkMwggHJoAMC
	AQICCC3F/IjSxUuVMAoGCCqGSM49BAMDMGcxGzAZBgNVBAMMEkFwcGxlIFJvb3QgQ0Eg
	LSBHMzEmMCQGA1UECwwdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxEzARBgNV
	BAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVTMB4XDTE0MDQzMDE4MTkwNloXDTM5MDQz
	MDE4MTkwNlowZzEbMBkGA1UEAwwSQXBwbGUgUm9vdCBDQSAtIEczMSYwJAYDVQQLDB1B
	cHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTETMBEGA1UECgwKQXBwbGUgSW5jLjEL
	MAkGA1UEBhMCVVMwdjAQBgcqhkjOPQIBBgUrgQQAIgNiAASY6S89QHKk7ZMicoETHN0Q
	lfHFo05x3BQW2Q7lpgUqd2R7X04407scRLV/9R+2MmJdyemEW08wTxFaAP1YWAyl9Q8s
	TQdHE3Xal5eXbzFc7SudeyA72LlU2V6ZpDpRCjGjQjBAMB0GA1UdDgQWBBS7sN6hWDOI
	mqSKmd6+veuv2sskqzAPBgNVHRMBAf8EBTADAQH/MA4GA1UdDwEB/wQEAwIBBjAKBggq
	hkjOPQQDAwNoADBlAjEAg+nBxBZeGl00GNnt7/RsDgBGS7jfskYRxQ/95nqMoaZrzsID
	1Jz1k8Z0uGrfqiMVAjBtZooQytQN1E/NjUM+tIpjpTNu423aF7dkH8hTJvmIYnQ5Cxdb
	y1GoDOgYA+eisigwggLmMIICbaADAgECAggzDe74v0xoLjAKBggqhkjOPQQDAzBnMRsw
	GQYDVQQDDBJBcHBsZSBSb290IENBIC0gRzMxJjAkBgNVBAsMHUFwcGxlIENlcnRpZmlj
	YXRpb24gQXV0aG9yaXR5MRMwEQYDVQQKDApBcHBsZSBJbmMuMQswCQYDVQQGEwJVUzAe
	Fw0xNzAyMjIyMjIzMjJaFw0zMjAyMTgwMDAwMDBaMHIxJjAkBgNVBAMMHUFwcGxlIFN5
	c3RlbSBJbnRlZ3JhdGlvbiBDQSA0MSYwJAYDVQQLDB1BcHBsZSBDZXJ0aWZpY2F0aW9u
	IEF1dGhvcml0eTETMBEGA1UECgwKQXBwbGUgSW5jLjELMAkGA1UEBhMCVVMwWTATBgcq
	hkjOPQIBBggqhkjOPQMBBwNCAAQGa6RWb32fJ9HONo6SG1bNVDZkSsmUaJn6ySB+4vVY
	D9ziausZRy8u7zukAbQBE0R8WiatoJwpJYrl5gZvT3xao4H3MIH0MA8GA1UdEwEB/wQF
	MAMBAf8wHwYDVR0jBBgwFoAUu7DeoVgziJqkipnevr3rr9rLJKswRgYIKwYBBQUHAQEE
	OjA4MDYGCCsGAQUFBzABhipodHRwOi8vb2NzcC5hcHBsZS5jb20vb2NzcDAzLWFwcGxl
	cm9vdGNhZzMwNwYDVR0fBDAwLjAsoCqgKIYmaHR0cDovL2NybC5hcHBsZS5jb20vYXBw
	bGVyb290Y2FnMy5jcmwwHQYDVR0OBBYEFHpHujiKFSRIIkbNvo8aJHs0AyppMA4GA1Ud
	DwEB/wQEAwIBBjAQBgoqhkiG92NkBgIRBAIFADAKBggqhkjOPQQDAwNnADBkAjAVDKmO
	xq+WaWunn91c1ANZbK5S1GDGi3bgt8Wi8Ql84Jrja7HjfDHEJ3qnjon9q3cCMGEzIPEp
	//mHMq4pyGQ9dntRpNICL3a+YCKR8dU6ddy04sYqlv7GCdxKT9Uk8PzKsjCCAwcwggKt
	oAMCAQICCBeAqDRmZOrLMAoGCCqGSM49BAMCMHIxJjAkBgNVBAMMHUFwcGxlIFN5c3Rl
	bSBJbnRlZ3JhdGlvbiBDQSA0MSYwJAYDVQQLDB1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1
	dGhvcml0eTETMBEGA1UECgwKQXBwbGUgSW5jLjELMAkGA1UEBhMCVVMwHhcNMjQxMTIw
	MDMyMDQ1WhcNMjgxMjE0MTgwMDMwWjBOMSowKAYDVQQDDCFXV0RSIFByb3Zpc2lvbmlu
	ZyBQcm9maWxlIFNpZ25pbmcxEzARBgNVBAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVT
	MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE9ZRbDsHUVD8Z3kZgJV8+jinPbE+T1Ry3
	fbZSXx/h+2MBsoIbqKFOtNPt71a5F9SYzWC3zk6ptzpXdlPoM0OvfaOCAU8wggFLMAwG
	A1UdEwEB/wQCMAAwHwYDVR0jBBgwFoAUeke6OIoVJEgiRs2+jxokezQDKmkwQQYIKwYB
	BQUHAQEENTAzMDEGCCsGAQUFBzABhiVodHRwOi8vb2NzcC5hcHBsZS5jb20vb2NzcDAz
	LWFzaWNhNDAzMIGWBgNVHSAEgY4wgYswgYgGCSqGSIb3Y2QFATB7MHkGCCsGAQUFBwIC
	MG0Ma1RoaXMgY2VydGlmaWNhdGUgaXMgdG8gYmUgdXNlZCBleGNsdXNpdmVseSBmb3Ig
	ZnVuY3Rpb25zIGludGVybmFsIHRvIEFwcGxlIFByb2R1Y3RzIGFuZC9vciBBcHBsZSBw
	cm9jZXNzZXMuMB0GA1UdDgQWBBTpUs4NsMaIGmVKuJsRj/HcHkcUfDAOBgNVHQ8BAf8E
	BAMCB4AwDwYJKoZIhvdjZAwTBAIFADAKBggqhkjOPQQDAgNIADBFAiEA75q8XaBaZmxk
	uc03k6lTtDfFx2zhg/oXGt4LPdaraGYCIHgj2cOIB0k99fuJj5BuWOBXn2P/WOHWj1yY
	Y9Y6Pj+dMYIB1DCCAdACAQEwfjByMSYwJAYDVQQDDB1BcHBsZSBTeXN0ZW0gSW50ZWdy
	YXRpb24gQ0EgNDEmMCQGA1UECwwdQXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkx
	EzARBgNVBAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVTAggXgKg0ZmTqyzALBglghkgB
	ZQMEAgGggecwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcN
	MjUxMTE1MDMyNTIwWjAoBgkqhkiG9w0BCTQxGzAZMAsGCWCGSAFlAwQCAaEKBggqhkjO
	PQQDAjAvBgkqhkiG9w0BCQQxIgQg//GKD8sLlaEm4AbsD86/I3gBXaFgRweoS5Vy1YL+
	DBEwUgYJKoZIhvcNAQkPMUUwQzAKBggqhkiG9w0DBzAOBggqhkiG9w0DAgICAIAwDQYI
	KoZIhvcNAwICAUAwBwYFKw4DAgcwDQYIKoZIhvcNAwICASgwCgYIKoZIzj0EAwIESDBG
	AiEAhPfnDim4gtvAyOMmaVK6bLMGeXmCnjrRztYHCauGt8UCIQDCzsAIrS8Z1aQUzRCq
	8TUdxF/cCkuotajirUFAJ5N9Zg==
	</data>
	<key>DeveloperCertificates</key>
	<array>
		<data>
		MIIF2jCCBMKgAwIBAgIQDh1PjMxdExsMzh/dLTsfdTANBgkqhkiG9w0BAQsF
		ADB1MUQwQgYDVQQDDDtBcHBsZSBXb3JsZHdpZGUgRGV2ZWxvcGVyIFJlbGF0
		aW9ucyBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTELMAkGA1UECwwCRzMxEzAR
		BgNVBAoMCkFwcGxlIEluYy4xCzAJBgNVBAYTAlVTMB4XDTI1MTExNTAzMTAz
		OVoXDTI4MTExNDAzMTAzOFowgbUxGjAYBgoJkiaJk/IsZAEBDApOM1dQOTNa
		N0NNMUQwQgYDVQQDDDtpUGhvbmUgRGlzdHJpYnV0aW9uOiBRaW5nZGFvIFJ1
		cmFsIENvbW1lcmNpYWwgQmFuayBDby4sIEx0ZDETMBEGA1UECwwKTjNXUDkz
		WjdDTTEvMC0GA1UECgwmUWluZ2RhbyBSdXJhbCBDb21tZXJjaWFsIEJhbmsg
		Q28uLCBMdGQxCzAJBgNVBAYTAlVTMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
		MIIBCgKCAQEA3jc98A5cAf9nTzNvUco9xospr3efAq6oaURk88GUQRd9S9SF
		WXImzJuqnI7c1NgTYEYbuoOgfzyeqCfKzzXB+ezQe9vtCg0TZX73y4hrsA73
		VP2sX7mjP3iWb89E16+yUkj5WxdqcwYlQ/jX7QaJRVeq2uWBJxK5422sS46A
		y67MVK09UcVPp9bUePkp/3kKQiMmRUGaIXCzP3IHmm4l8O+mfTG6Tu8xLi+H
		h+hbDAEEclU1kXQkD3a8zSaEEWnAJoA2+2pCLRBgfQJjD9TfEf49xGZnfdYp
		q/zm+zemmo0qIpp+AOLl3e3bV9loPn9TrHfHt8WyYEHfF9s1kVQOhwIDAQAB
		o4ICIzCCAh8wDAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBQJ/sAVkPmvZAqS
		ErkmKGMMl+ynsjBwBggrBgEFBQcBAQRkMGIwLQYIKwYBBQUHMAKGIWh0dHA6
		Ly9jZXJ0cy5hcHBsZS5jb20vd3dkcmczLmRlcjAxBggrBgEFBQcwAYYlaHR0
		cDovL29jc3AuYXBwbGUuY29tL29jc3AwMy13d2RyZzMwMTCCAR4GA1UdIASC
		ARUwggERMIIBDQYJKoZIhvdjZAUBMIH/MIHDBggrBgEFBQcCAjCBtgyBs1Jl
		bGlhbmNlIG9uIHRoaXMgY2VydGlmaWNhdGUgYnkgYW55IHBhcnR5IGFzc3Vt
		ZXMgYWNjZXB0YW5jZSBvZiB0aGUgdGhlbiBhcHBsaWNhYmxlIHN0YW5kYXJk
		IHRlcm1zIGFuZCBjb25kaXRpb25zIG9mIHVzZSwgY2VydGlmaWNhdGUgcG9s
		aWN5IGFuZCBjZXJ0aWZpY2F0aW9uIHByYWN0aWNlIHN0YXRlbWVudHMuMDcG
		CCsGAQUFBwIBFitodHRwczovL3d3dy5hcHBsZS5jb20vY2VydGlmaWNhdGVh
		dXRob3JpdHkvMBYGA1UdJQEB/wQMMAoGCCsGAQUFBwMDMB0GA1UdDgQWBBRQ
		LWzq55cGdd23CWRoieEKps7l/DAOBgNVHQ8BAf8EBAMCB4AwEwYKKoZIhvdj
		ZAYBBAEB/wQCBQAwDQYJKoZIhvcNAQELBQADggEBACiOKYF427g4yyH/AtVm
		9a+52yivjtjEODUszBietSS5Lzkf5s3h3lWQjuDcDVx0PY3G2atujOumad22
		hL2pTk58tYklhXg3Jc0raXtxkAdV16HlrZGaUWXx5Os/vGDUKj9dB6xN38Ao
		nfDd7pmPQ2icVdFd7MgmZoMEjdj3dT2gbyEwnwWPgAz6R76zzoyQRQQLw3HD
		a/lMG3cK3QnuoWmXNKft9Fwd72nGKQtMxBi/EoAR1sDS+WqOyjz3bhdSn1T3
		E4CJT/4Yavqqb1WwlZKY1Vlh6f8gOP2srj+BxbxQBuEeE5Lf/vdyOFpcN8ui
		ElkOl/XI5ZrMbqUauLCmWnA=
		</data>
	</array>
	<key>Entitlements</key>
	<dict>
		<key>application-identifier</key>
		<string>N3WP93Z7CM.com.SFn27a.5NDvCv</string>
		<key>aps-environment</key>
		<string>production</string>
		<key>com.apple.developer.team-identifier</key>
		<string>N3WP93Z7CM</string>
		<key>get-task-allow</key>
		<false/>
		<key>keychain-access-groups</key>
		<array>
			<string>N3WP93Z7CM.*</string>
			<string>com.apple.token</string>
		</array>
	</dict>
	<key>ExpirationDate</key>
	<date>2026-11-15T03:25:20Z</date>
	<key>IsXcodeManaged</key>
	<false/>
	<key>Name</key>
	<string>kM5U64</string>
	<key>Platform</key>
	<array>
		<string>iOS</string>
		<string>xrOS</string>
		<string>visionOS</string>
	</array>
	<key>ProvisionsAllDevices</key>
	<true/>
	<key>TeamIdentifier</key>
	<array>
		<string>N3WP93Z7CM</string>
	</array>
	<key>TeamName</key>
	<string>Nghĩa Lê Thành</string>
	<key>TimeToLive</key>
	<integer>365</integer>
	<key>UUID</key>
	<string>2a94d76b-fdf3-4426-abf8-ca8bbb9ba331</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
